<div class="main-content">
  <div class="container-fluid">
    <form>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer01">First name</label>
          <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Enter First name"
            required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer02">Last name</label>
          <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Enter Last name"
            required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer02">Mobile</label>
          <input type="number" class="form-control is-valid" id="validationServer03" placeholder="Enter Mobile No"
            required>

        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control is-valid" id="address" placeholder="Enter Address" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="referral">Referral</label>
          <input type="text" class="form-control is-valid" id="referral" placeholder="Enter referral" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="pan">PAN No</label>
          <input type="text" class="form-control is-valid" id="pan" placeholder="Enter PAN No" required>

        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="adhaar">Adhaar No</label>
          <input type="text" class="form-control is-valid" id="address" placeholder="Enter Adhaar" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="panFile">Upload PAN</label>
          <input type="file" class="form-control-file is-valid" id="panFile" placeholder="Upload PAN" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="adhaarFile">Upload Adhaar</label>
          <input type="file" class="form-control-file is-valid" id="referral" placeholder="Upload Adhaar" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">Company Name</label>
          <input type="text" class="form-control is-valid" id="companyName" placeholder="Enter companyName" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="companyPan">Company PAN No</label>
          <input type="text" class="form-control is-valid" id="companyPan" placeholder="Enter Company PAN  No" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="companyAdhaar">Company Adhaar No</label>
          <input type="text" class="form-control is-valid" id="companyAdhaar" placeholder="Enter companyAdhaar" required>

        </div>
      </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="companyGstNo">GST No</label>
            <input type="text" class="form-control is-valid" id="companyGstNo" placeholder="Enter Company GST No" required>
  
          </div>
          <div class="col-md-4 mb-3">
            <label for="companyPanFile">Upload Company PAN</label>
            <input type="file" class="form-control-file is-valid" id="companyPanFile" placeholder="Upload Company PAN" required>
  
          </div>
          <div class="col-md-4 mb-3">
            <label for="companyAdhaarFile">Upload Company Adhaar</label>
            <input type="file" class="form-control-file is-valid" id="companyAdhaarFile" placeholder="Upload Adhaar" required>
          </div>
          </div>
      <button class="btn btn-primary" type="submit">Register Owner</button>
    </form>
  </div>
</div>