<div class="main-content">
  <div class="container-fluid">
    <form (submit)="postFarmOwner(addFarmOwner)" #addFarmOwner="ngForm">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="firstName">First name</label>
          <input type="text" class="form-control is-valid" id="firstName"
          ngModel name="firstName" #firstName="ngModel"  placeholder="Enter First name"
            required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control is-valid"
          id="lastName" ngModel name="lastName" #lastName="ngModel"
            placeholder="Enter Last name"
            required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="mobile">Mobile</label>
          <input type="number" class="form-control is-valid" 
          id="mobile"
          ngModel name="mobile" #mobile="ngModel" placeholder="Enter Mobile No"
            required>

        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control is-valid" id="address"  
          ngModel name="address" #address="ngModel" placeholder="Enter Address" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="referral">Referral</label>
          <input type="text" class="form-control is-valid" id="referral" 
          ngModel name="referral" #referral="ngModel" placeholder="Enter referral" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="pan">PAN No</label>
          <input type="text" class="form-control is-valid" id="pan" 
          ngModel name="pan" #pan="ngModel"
          placeholder="Enter PAN No" required>

        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="adhaar">Adhaar No</label>
          <input type="text" class="form-control is-valid" id="adhaar" 
          ngModel name="adhaar" #adhaar="ngModel" placeholder="Enter Adhaar" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="panFile">Upload PAN</label>
          <input type="file" class="form-control-file is-valid" id="panFile"
          ngModel name="panFile" #panFile="ngModel" placeholder="Upload PAN" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="adhaarFile">Upload Adhaar</label>
          <input type="file" class="form-control-file is-valid" id="adhaarFile" 
          ngModel name="adhaarFile" #adhaarFile="ngModel"  placeholder="Upload Adhaar" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control is-valid" id="companyName" 
          ngModel name="companyName" #companyName="ngModel"
          placeholder="Enter companyName" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="companyPan">Company PAN No</label>
          <input type="text" class="form-control is-valid" id="companyPan"
          ngModel name="companyPan" #companyPan="ngModel"
          placeholder="Enter Company PAN  No" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="companyAdhaar">Company Adhaar No</label>
          <input type="text" class="form-control is-valid" id="companyAdhaar" 
          ngModel name="companyAdhaar" #companyAdhaar="ngModel"
          placeholder="Enter companyAdhaar" required>

        </div>
      </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="companyGstNo">GST No</label>
            <input type="text" class="form-control is-valid" id="companyGstNo"
            ngModel name="companyGstNo" #companyGstNo="ngModel"
            placeholder="Enter Company GST No" required>
  
          </div>
          <div class="col-md-4 mb-3">
            <label for="companyPanFile">Upload Company PAN</label>
            <input type="file" class="form-control-file is-valid" id="companyPanFile"
            ngModel name="companyPanFile" #companyPanFile="ngModel"
            placeholder="Upload Company PAN" required>
  
          </div>
          <div class="col-md-4 mb-3">
            <label for="companyAdhaarFile">Upload Company Adhaar</label>
            <input type="file" class="form-control-file is-valid" id="companyAdhaarFile" 
            ngModel name="companyAdhaarFile" #companyAdhaarFile="ngModel"
            placeholder="Upload Adhaar" required>
          </div>
          </div>
      <button class="btn btn-primary" type="submit"  [disabled]="!addFarmOwner.valid">Register Owner</button>
    </form>
  </div>
</div>