<!-- <div class="main-content">
  <div class="container-fluid"> -->
    <hr>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <button type="button" id="b1" class="btn btn-info" [ngClass]="['bntStyle']"
          (click)="loadFeed();" value="Feed">Feed</button>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <button type="button" id="b2" class="btn btn-info" 
        (click)="loadChecknet();">CheckNets</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <mat-radio-group class="example-radio-group" name="fieldname" 
      (change)="changeFeed($event)"
      [(ngModel)]="SelectedFeeds" ngDefaultControl>
      <mat-radio-button class="example-radio-button" 
      *ngFor="let x of selectFeeds" [value]="x" style="margin:1rem;">  {{ x }}
      </mat-radio-button>
    </mat-radio-group>
    </div>
    <hr>
    <!-- <div class="card-deck row">
      <form [formGroup]="feedsform" (ngSubmit)="onSubmit()">
        <div formArrayName="response" >
      <th *ngFor="let response of feedsform.get('response')['controls'];
      let i=index">
      <tbody [formGroupName]="i">
        <tr> {{i+1}}</tr>
        <tr>  <input type="text" formControlName="tank_name"  class="form-control"></tr>
        <tr>  <input type="text" formControlName="code"  class="form-control"></tr>
        <tr>  <input type="text" formControlName="quantity_kg"  class="form-control"></tr>
        <tr>  <input type="text" formControlName="cn_gm_kg"  class="form-control"></tr>
        <tr>  <input type="text" formControlName="cn_gm"  class="form-control"></tr>
      </tbody>
      </th>
      </div>
      </form>
  </div> -->
    <div class="row" *ngIf="div_feed">
      <div class="col-md-12 offset-md-12">
          <form [formGroup]="feedsform" (ngSubmit)="onSubmit()">
              <div formArrayName="response" >
                  <div *ngFor="let response of feedsform.get('response')['controls'];
                  let i=index" class="col-md-4 " style="display:flex;">
                      <!-- <div>
                          <span>Tank {{i + 1}}</span>
                          <span *ngIf="feedsform.get('response').length > 1"
                              (click)="removefeedsform(i)">Remove
                          </span>
                      </div> -->
                      <div [formGroupName]="i">
                        <div>
                          <label>TankName</label>
                          <input type="text" formControlName="tank_name"  class="form-control">
                          <!-- <small [hidden]="feedsform.controls.response.controls[i].controls.feed.valid">
                              No is required
                          </small> -->
                      </div>
                          <div>
                            <label>Feed</label>
                            <input type="text" formControlName="feed"  class="form-control">
                            <!-- <small [hidden]="feedsform.controls.response.controls[i].controls.feed.valid">
                                No is required
                            </small> -->
                        </div>
                         <div>
                            <label>Code</label>
                            <input type="text" formControlName="code"  class="form-control">
                            <!-- <small [hidden]="feedsform.controls.response.controls[i].controls.code.valid">
                                code is required
                            </small> -->
                        </div>
                        <div>
                          <label>Quantity Kg</label>
                          <input type="text" formControlName="quantity_kg"  class="form-control">
                          <!-- <small [hidden]="feedsform.controls.response.controls[i].controls.feed.valid">
                              No is required
                          </small> -->
                      </div>
                       <div>
                          <label>Cn gm/kg</label>
                          <input type="text" formControlName="cn_gm_kg"  class="form-control">
                          <!-- <small [hidden]="feedsform.controls.response.controls[i].controls.code.valid">
                              code is required
                          </small> -->
                      </div>
                      <div>
                        <label>Cn gm</label>
                        <input type="text" formControlName="cn_gm"  class="form-control">
                        <!-- <small [hidden]="feedsform.controls.response.controls[i].controls.code.valid">
                            code is required
                        </small> -->
                    </div>
                      </div>
                  </div>
              </div>
              <!-- <div class="margin-20">
                  <a (click)="addfeedsform()" style="cursor: default">
                    Add  +
                  </a>
                </div> -->
                <hr>
              <div class="form-group">
                  <button class="btn btn-primary">Submit</button>
              </div>
          </form>
          </div>
    </div>
<!-- Checknets data -->
 <div class="card-deck row" *ngIf="div_checkNet">
      <form [formGroup]="checkNetform" (ngSubmit)="onSubmitCheckNet()">
        <div formArrayName="response" >
          <table class="table table-responsive">
      <th>
        <tbody>
         <tr><input type="text" value="Tank NO" readonly></tr>
         <tr><input type="text" value="Gm/CN" readonly></tr>
         <tr><input type="text" value="Avg Left " readonly></tr>
       <tr><input type="text" value="Total Left" readonly></tr>
       <tr><input type="text" value="NS/CN" readonly></tr>
       <tr><input type="text" value="Kalakalu" readonly></tr>
       <tr><input type="text" value="CN1" readonly></tr>
       <tr><input type="text" value="CN2" readonly></tr>
       <tr><input type="text" value="CN3" readonly></tr>
       <tr><input type="text" value="CN4" readonly></tr>
      </tbody>
    </th>
      <th *ngFor="let response of checkNetform.get('response')['controls'];
      let i=index">
      <tbody [formGroupName]="i">
        <!-- <tr> {{i+1}}</tr> -->
        <tr>  <input type="text" formControlName="tank_name"  ></tr>
        <tr>  <input type="text" formControlName="GmperCN"  ></tr>
        <tr>  <input type="text" formControlName="Avgleft"  ></tr>
        <tr>  <input type="text" formControlName="Totalleft"></tr>
        <tr>  <input type="text" formControlName="NSperCN"  ></tr>
        <tr>  <input type="text" formControlName="Kalakalu" ></tr>
        <tr>  <input type="text" formControlName="eachCN1"  ></tr>
        <tr>  <input type="text" formControlName="eachCN2"  ></tr>
        <tr>  <input type="text" formControlName="eachCN3"  ></tr>
        <tr>  <input type="text" formControlName="eachCN4"  ></tr>
      </tbody>
      </th>
    </table>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
      </form>
  </div>