
#div1{
    height:300px;
    width:180px;
    border:2px solid pink;
    border-radius:10px;
    text-align:center;
    padding:10px;
    margin:5px;
    float:left;
    background:#215480;
    color:skyblue;
    }