<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.thethinktankers.in/#/">
                        Think Tankers
                    </a>
                </li>
                <li>
                    <a href="http://www.thethinktankers.in/#/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://www.thethinktankers.in/#/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="http://www.thethinktankers.in/#/">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Think Tankers Innovative Solution</a> for a better web.
        </div>
    </div>
</footer>
