<!-- <div class="main-content">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Tasks:</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                    <i class="material-icons">bug_report</i> Tweets
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <table class="table">
                <tbody>
                  <tr *ngFor="let x of tweetData?.posts">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>{{x.customer.email }}</td>
                    <td>{{x.storeLocation}}</td>
                    <td>{{x.purchaseMethod}}</td>
                    <td>{{x.saleDate | date:'dd/MM/yyyy'}}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Tweets:</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                    <!-- <i class="material-icons">bug_report</i> Tweets -->
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <table mat-table [dataSource]="dataSource" class="table">
                <ng-container matColumnDef="text">
                  <th mat-header-cell *matHeaderCellDef class="thead-dark"> Text </th>
                  <td mat-cell *matCellDef="let element"> {{element.text}} </td>
                </ng-container>
                <ng-container matColumnDef="source">
                  <th mat-header-cell *matHeaderCellDef class="thead-dark"> Source </th>
                  <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                </ng-container>
                <ng-container matColumnDef="in_reply_to_screen_name">
                  <th mat-header-cell *matHeaderCellDef class="thead-dark"> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.in_reply_to_screen_name}} </td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef class="thead-dark"> Created_at </th>
                  <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" class="thead-dark" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>