<div class="main-content">
  <div class="container-fluid">
    <!-- <span>Current Phase:</span> -->
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4 col-xl-3">
        <label for="selectFarm">Select Farm</label>
        <select class="form-control" 
        ngModel name="selectFarm" #selectFarm="ngModel" (change)="selectedFarm(selectFarm)" required>
          <option value="">Select Farm</option>
          <option *ngFor="let getFarm of farmData.posts" [ngValue]="getFarm">
            {{getFarm.farmId}}</option>
        </select>
      </div>
       <div class="col-sm-3 col-md-6 col-lg-4 col-xl-3">
        <label for="selectFarm">Select Date</label>
        <input type="date" class="form-control"  (change)="selectedDateFun(selectedDate)"
        ngModel name="selectedDate" #selectedDate="ngModel"
         placeholder="Enter Dosage " id="selectedDate" required>
      </div>

    </div>
    <div class="row" *ngIf="selectedFarmId && selectedFarmDate">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" id="b1" class="btn btn-info" 
        [ngClass]="['bntStyle']" (click)="loadFeedAndChecknet();">Feed & Checknet</button>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" id="b2" class="btn btn-info"
         (click)="loadWaterReportMedicine();">Water Report & Medicine</button>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" id="b3" class="btn btn-info" 
        (click)="loadObservations();">Observation</button>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" id="b4" class="btn btn-info" (click)="loadFullHarvest();">Count & Harvest</button>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <button type="button" id="b4" class="btn btn-info" (click)="loadFullHarvest();">Stock & Stocking</button>
      </div>
    </div>
   
    <app-feed-checknet *ngIf='FeedAndChecknet'></app-feed-checknet>
    <app-observations *ngIf="Observations"></app-observations>
    <app-water-medicine-report *ngIf="WaterAndMedicine"></app-water-medicine-report>
    <app-pond-prepartion *ngIf='pondPrepartionComponent'></app-pond-prepartion>
    <app-cultivation-stage *ngIf='cultivationStage'></app-cultivation-stage>
  </div>
</div>