<div class="main-content">
  <div class="container-fluid">
  
  <div class="form">
  <h4>Selection of Farm|Tank</h4>
  <mat-form-field > 
    <mat-label>Select Farm</mat-label>
    <mat-select>
        <mat-option value="Farm1">Farm 1</mat-option>
        <mat-option value="Farm2">Farm 2</mat-option>
        <mat-option value="Farm3">Farm 3</mat-option>
        <mat-option value="Farm4">Farm 4</mat-option>
    </mat-select>
  </mat-form-field>
  
  <h4></h4>
  <mat-form-field>
    <mat-label>Select Tanks</mat-label>
    <mat-select>
      <mat-option value="Tank 1">Tank 1</mat-option>
      <mat-option value="Tank 2">Tank 2</mat-option>
      <mat-option value="Tank 3">Tank 3</mat-option>
      <mat-option value="Tank 4">Tank 4</mat-option>
    </mat-select>

  </mat-form-field>
  <button mat-button color="primary" type="submit" class="button flex-end" > Submit</button>
</div>

</div>
</div>