<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Stories</span>
                            <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal"
                                data-target="#addStory" (click)="resetForm()">
                                <i class="material-icons">add</i> Add Story
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-reusable-table
                        [columns]="tableColumns"
                        [data]="tableData"
                        [config]="tableConfig"
                        (action)="onTableAction($event)">
                    </app-reusable-table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Story Modal -->
<app-form-modal 
  modalId="addStory" 
  [config]="modalConfig"
  [form]="storyForm"
  [fields]="formFields"
  (submitted)="saveStory()"
  (cancelled)="resetForm()">
</app-form-modal>