/* You can add global styles to this file, and also import other style files */
.pagination-controls{
    text-align: center;
   }
   mdb-toast-component {
    display: block !important;
  }
  @import '~ngx-toastr/toastr.css';
  ::ng-deep .modal-backdrop{
    z-index:9999
  }
 